@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


#div1 {
    display: flex;
    width: 250px;
    height: 250px;
    color: white;
    background-color: black;
    justify-content: flex-start;
    border: 5px solid red;
    text-align: center;
    
}

#img1{
}

#div2{
    color: white;
    font-family: 'Ms Madi', cursive;
}